.title-db {
  font-weight: 700;
}

.tab-univ {
  padding-bottom: 20px;
}

.nav-title a {
  text-decoration: none;
  font-size: 20px; 
  font-weight: bold; 
  cursor: pointer; 
  margin-bottom: 0;
  color: black;
}

#inputSuccses i {
  color: rgb(4, 255, 0);
}